#img-bg{
    background-image: url('https://play-lh.googleusercontent.com/-HPWJP0gp3XAQcO9YqwQ28rFIXXs4NCfQc3Uraf1BrZK-DVsCKEem26eNiuUYAckZg');

min-height: 695px;
background-position: center;
background-repeat: no-repeat ;
background-size: cover ;
}